
@{
    ViewData["Title"] = "View_Booking";
    Layout = "~/Views/Shared/OwnerLayout.cshtml";
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>View Farm Booking</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">View Farm Booking</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <form class="search-form form-inline w-100">
                                <input type="text" name="search" class="form-control flex-grow-1 mr-2" placeholder="Search...">
                                <input type="submit" name="submit" value="Search" class="btn btn-dark">
                            </form>
                        </div>

                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>User Name</th>
                                        <th>Farmhouse Name</th>
                                        <th>Check In Date</th>
                                        <th>Check Out Date</th>
                                        <th>Day Time</th>
                                        <th>Booking Date</th>
                                        <th>Status</th>
                                        @foreach (System.Data.DataRow dr in ViewBag.data.Rows)
                                        {
                                        <tr>
                                            <td>@dr["id"].ToString()</td>
                                            <td>@dr["user_id"].ToString()</td>
                                            <td>@dr["farmhouse_id"].ToString()</td>
                                            <td>@dr["checkin_date"].ToString()</td>
                                            <td>@dr["checkout_date"].ToString()</td>
                                            <td>@dr["daytime_slot"].ToString()</td>
                                            <td>@dr["status"].ToString()</td>
                                            <td>@dr["cancle"].ToString()</td>
                                        </tr>
                                    }
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
